

*{
    margin: 0;
    padding: 0;
}


body {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
}
.jumbotron{
background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); 
}
p{
    font-family: sans-serif;
    color: blanchedalmond;
}

img{
    border-radius: 45%;
}
 h1{
     text-align: center;
     background-color: rgb(20, 194, 171); 
  
 }


.bar{

    width:80%;
    height: 40px;
      background:#357C0C;
    margin : 5px 10px;
    border-radius: 4px;
    padding: 3px 3px;
}

text{
    width: 400px;
    height: 300px;

   
}
.btn{
    padding: 10px 50px;
    background:rgb(20, 194, 171); 
    color:#525591;
    border-radius: 4px;
    cursor: pointer;
    width: 150%;
}

.btn :hover{
    background:#222 ;
}
.btn:active{
    background:#777 ;

}

#level{
    width: 100%;
    background:rgb(20, 194, 171); 
    cursor: pointer;
}